.v0lture-navbar {
  background: rgb(144,58,150);
}

.v0lture-breadcrumbs {

}

.v0lture-dbs-header {
  background: #757575;
  color: white;
}

.v0lture-dbs-content {
  background: #757575 !important;
  color: #75C7FF !important;
}

.v0lture-btn-light {
  /* light purple */
  background: #9233AF !important;
}

.v0lture-btn-dark {
  /* dark purple */
  background: #9233AF !important;
}

.v0lture-btn-accent {
  /* blue */
  background: #9233AF !important;
}

.v0lture-error-card {
  background: #9233AF !important;
  color: white;
}

.v0lture-norm-card {
  background: #757575;
  color: white;
}

.v0lture-cancel {
  color: white !important;
}

.v0lture-action {
  color: #75C7FF !important;
}

.v0lture-modal {
  background: #757575 !important;
  color: white;
}

.v0lture-progress-bg {
  background: #303030;
}

.v0lture-progress {
  background: #75C7FF;
}

.v0lture-update-notification {
  background: #757575;
  color: white;
  padding: 5px 20px 5px 20px;
  margin-bottom: 0px;
}

.v0lture-update-notification > a {
  margin-top: -55px;
}

.v0lture-update-notification > p {
  margin-top: -10px;
}

/* tabs */
.tabs .tab a:hover {
  color: #9233AF;
}

.tabs .tab a.active {
  color: #C630D1;
}

.tabs .tab a {
  color: #C630D1;
}

.tabs .tab, .tabs {
  background: #4F5159;
}

.tabs .tab.disabled a {
  color: #fff !important;
}

.tabs .indicator {
  background-color: #75C7FF;
}

/* errors */
.error {
  background: #C630D1;
}